.alert-wrapper {
    position: fixed;
    top: 60px;
    right: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    z-index: 1060;
    transition: .2s ease-in-out;
}
.alert-slide {
    margin-right: 10px;
}
.alert-show {
    transform: translateX(0);
}
.alert-hide {
    transform: translateX(calc(100% + 10px));
}
  